.menu {
position: relative;
    &__icon {
    }

    &__list {
        display: none;
        position: absolute;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        top: 47px;
        right: -15px;
        min-width: 146px;
        background: $colorWhite;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s linear;
        @media(min-width:768px){
            top: 57px;
            right: -30px;
            min-width: 169px;
        }
        @media(min-width:1340px){
            position: relative;
            top: auto;
            right: auto;
            opacity: 1;
            visibility: visible;
            background: none;
            flex-direction: row;
            gap: 50px;
            padding: 0;
            min-width: 450px;
        }
    }
    &.menu-open &__list{
        opacity: 1;
        visibility: visible;
    }
}
